body {
    min-height: 100vh; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

h1 {
    font-family: 'Open Sans';
    font-size: 80px; 
}

div {
    margin: 0 auto; 
    text-align: center; 
}

button {
    background-color: #A9A9A9;
    color: white; 
    border-radius: 20px;
    height: 120px;
    width: 120px;
    font-size: 50px;
    margin: 20px;
}

button:hover {
    background-color: white; 
    color: #A9A9A9;
}

#input {
    border-radius: 20px;
    border: 5px solid #A9A9A9; 
    height: 120px;
    width: 200px;
    font-family: 'Open Sans';
    font-size: 60px;
    text-align: center;
}

.red {
    color: red;
}